---
import { Icon } from 'astro-icon/components';
---

<div
  class="justify-center dark text-muted text-sm bg-black dark:bg-transparent dark:border-b dark:border-slate-800 dark:text-slate-400 hidden md:flex gap-2 overflow-hidden px-3 py-2 relative text-ellipsis whitespace-nowrap items-center"
>
  <Icon name="tabler:location" class="w-4 h-4" />
  <span
    class="dark:bg-slate-700 bg-white/40 dark:text-slate-300 font-semibold px-1 py-0.5 text-xs mr-2 bg-red-500 inline-block"
    >Durres</span
  >
  <Icon name="tabler:clock" />
  <span class="mr-2">E Hënë - E Shtunë 08 - 18</span>
  <Icon name="tabler:phone" />
  +355692323233
</div>
